.card {
  background-color: white;
  margin: 8px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.count_button {
  background-color: #ffa100;
  width: 64px;
  padding: 4px;
  color: white;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 4px;
}

.top {
  margin-bottom: 8px;
}

.bottom {
  font-size: 64px;
  text-align: center;
  color: #0089c4;
}
